<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>COMfORT 2</title>
    <!--stylesheets-->
    <link rel="stylesheet" href="~/fonts/FiraSans/Fonts.css">
    <link href="~/Content/css/themes.css" rel="stylesheet" />
    <link href="~/Content/css/base.css" rel="stylesheet" />
    <link href="~/Content/css/pageContent.css" rel="stylesheet" />

    <!--scripts-->
    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script>
        var ConfigXml;
        var PageContent = [];
        var ScaleRatio = 1;
        var CurrentLocation;


        var URL_GetBook = '@Url.Action("LoadBook", new { id=(int)ViewBag.BookId })';
    </script>
    <script src="~/Content/js/navigation.js"></script>
    <script src="~/Content/js/base.js"></script>
    <script src="~/Content/js/validate.js"></script>
    <script src="~/Content/js/loading.js"></script>
    <script src="~/Content/js/shared.js"></script>
    <script src="~/Content/js/userTrack.js"></script>
    <script src="~/Content/js/offline.js"></script>

    <!-- For offline switch the src for each script, and include offline.js -->
</head>

<body>


    <div id="main-window">
        <div id="inner-window">
            <div id="toc">
                <a href="javascript:void(0)" id="menu-close">&times;</a>
                <!--<a href="javascript:void()" class="closebtn">&#9776;</a>-->
                <div id="toc-book-title"></div>
                <div id="pageList">

                </div>
            </div>

            <div id="content">
                <div id="header">
                    <div id="top-bar">
                        <div id="menu-open">
                            <span>MENU</span>
                            <img src="~/Content/images/small-back.png" />
                        </div>
                        <div id="module-head">
                            <div id="color-block">
                                <div id="dark-box">
                                    <img src="~/Content/images/left-mask.png" width="20" height="40"/>
                                </div>
                                <div id="light-box">
                                    <img src="~/Content/images/right-mask.png"  width="20" height="40"/>
                                </div>
                            </div>
                            <span id="book-name"></span>
                            <span id="module-name"></span>
                        </div>
                    </div>
                    <div id="sections">
                        <div id="section-list"></div>
                    </div>
                    <div id="chapters">
                        <div id="chapter-list"></div>
                    </div>
                </div>

                <div id="page-content">
                    <div id="definitionWindow"></div>


                </div>
            </div>

            <div id="footer">

                <div class="foot-float">
                    @*<div class="section-bar"></div>*@
                    <img id="previous-button" src="~/Content/images/back-arrow.png" />
                </div>

                <div class="foot-float">
                    @*<div id="section-dots" class="section-bar">
                        <div id="section-content"></div>
                    </div>*@
                    <div id="arrow-bar">
                        <div id="arrow-content">
                            <img id="arrow-pointer" src="~/Content/images/page.png" />
                        </div>
                    </div>
                    <div id="page-dot-content">
                        <div id="dot-container"></div>
                    </div>
                </div>

                <div class="foot-float">
                    @*<div class="section-bar"></div>*@
                    <img id="next-button" src="~/Content/images/forward-arrow.png" />
                </div>










                @*<div id="section-bar">
                    <div id="section-dots"></div>
                </div>

                <div id="lower-footer">
                    <img id="previous-button" src="~/Content/images/back-arrow.png" />
                    <div id="page-dots">
                        <div id="dot-container"></div>
                    </div>
                    <img id="next-button" src="~/Content/images/forward-arrow.png" />
                </div>*@

                

                @*<div id="page-dots">

                    <div id="page-dot-content">
                        <div id="section-dots"></div>
                        <div id="arrow-bar">
                            <img id="arrow-pointer" src="~/Content/images/page.png" />
                        </div>
                        <div id="dot-container"></div>
                    </div>
                </div>
                <img id="next-button" src="~/Content/images/forward-arrow.png" />*@

            </div>
        </div>


        <div id="loading">
            <div id="loading-box">
                <img src="~/Content/images/loading.gif" />
                <div id="loading-text"></div>
            </div>
        </div>


    </div>



</body>
</html>