/* Theme 1 - yellow */
#inner-window.theme1 #module-name {
    color: #efc94c;
}
#inner-window.theme1 #chapter-list .chapter-item {
    background-color: #f7e5a8;
    margin-top: 9px;
}
    #inner-window.theme1 #chapter-list .chapter-item.selected {
        color: #efc94c;
        background-color: white;
        margin-top: 10px;
    }
#inner-window.theme1 #section-list .section-item {
    background-color: #efc94c;
}
#inner-window.theme1 #section-list .selected {
    border-color: #efc94c;
    color: #efc94c;
    background-color: white;
}
#inner-window.theme1 #page-dots #page-dot-content .dot:hover {
    color: #efc94c;
}
#inner-window.theme1 #page-dots #page-dot-content .dot.selected {
    background-color: #efc94c;
}
#inner-window.theme1 #arrow-bar {
    background-color: #efc94c;
}

/* Theme 2 - dark */
#inner-window.theme2 #module-name {
    color: #505967;
}
#inner-window.theme2 #chapter-list .chapter-item {
    background-color: #a8acb2;
    margin-top: 9px;
}
    #inner-window.theme2 #chapter-list .chapter-item.selected {
        color: #505967;
        background-color: white;
        margin-top: 10px;
    }
#inner-window.theme2 #section-list .section-item {
    background-color: #505967;
}
#inner-window.theme2 #section-list .selected {
    border-color: #505967;
    color: #505967;
    background-color: white;
}
#inner-window.theme2 #page-dots #page-dot-content .dot:hover {
    color: #505967;
}
#inner-window.theme2 #page-dots #page-dot-content .dot.selected {
    background-color: #505967;
}
#inner-window.theme2 #arrow-bar {
    background-color: #505967;
}

/* Theme 3 - blue1 */
#inner-window.theme3 #module-name {
    color: #2c6192;
}
#inner-window.theme3 #chapter-list .chapter-item {
    background-color: #96b0c9;
    margin-top: 9px;
}
    #inner-window.theme3 #chapter-list .chapter-item.selected {
        color: #2c6192;
        background-color: white;
        margin-top: 10px;
    }
#inner-window.theme3 #section-list .section-item {
    background-color: #2c6192;
}
#inner-window.theme3 #section-list .selected {
    border-color: #2c6192;
    color: #2c6192;
    background-color: white;
}
#inner-window.theme3 #page-dots #page-dot-content .dot:hover {
    color: #2c6192;
}
#inner-window.theme3 #page-dots #page-dot-content .dot.selected {
    background-color: #2c6192;
}
#inner-window.theme3 #arrow-bar {
    background-color: #2c6192;
}

/* Theme 4 - darkpurple */
#inner-window.theme4 #module-name {
    color: #444872;
}
#inner-window.theme4 #chapter-list .chapter-item {
    background-color: #a2a4b9;
    margin-top: 9px;
}
    #inner-window.theme4 #chapter-list .chapter-item.selected {
        color: #444872;
        background-color: white;
        margin-top: 10px;
    }
#inner-window.theme4 #section-list .section-item {
    background-color: #444872;
}
#inner-window.theme4 #section-list .selected {
    border-color: #444872;
    color: #444872;
    background-color: white;
}
#inner-window.theme4 #page-dots #page-dot-content .dot:hover {
    color: #444872;
}
#inner-window.theme4 #page-dots #page-dot-content .dot.selected {
    background-color: #444872;
}
#inner-window.theme4 #arrow-bar {
    background-color: #444872;
}

/* Theme 5 - green */
#inner-window.theme5 #module-name {
    color: #45b29d;
}
#inner-window.theme5 #chapter-list .chapter-item {
    background-color: #a2d9c3;
    margin-top: 9px;
}
    #inner-window.theme5 #chapter-list .chapter-item.selected {
        color: #45b29d;
        background-color: white;
        margin-top: 10px;
    }
#inner-window.theme5 #section-list .section-item {
    background-color: #45b29d;
}
#inner-window.theme5 #section-list .selected {
    border-color: #45b29d;
    color: #444872;
    background-color: white;
}
#inner-window.theme5 #page-dots #page-dot-content .dot:hover {
    color: #45b29d;
}
#inner-window.theme5 #page-dots #page-dot-content .dot.selected {
    background-color: #45b29d;
}
#inner-window.theme5 #arrow-bar {
    background-color: #45b29d;
}

/* Theme 6 - orange */
#inner-window.theme6 #module-name {
    color: #e58800;
}
#inner-window.theme6 #chapter-list .chapter-item {
    background-color: #f2c58d;
    margin-top: 9px;
}
    #inner-window.theme6 #chapter-list .chapter-item.selected {
        color: #e58800;
        background-color: white;
        margin-top: 10px;
    }
#inner-window.theme6 #section-list .section-item {
    background-color: #e58800;
}
#inner-window.theme6 #section-list .selected {
    border-color: #e58800;
    color: #e58800;
    background-color: white;
}
#inner-window.theme6 #page-dots #page-dot-content .dot:hover {
    color: #e58800;
}
#inner-window.theme6 #page-dots #page-dot-content .dot.selected {
    background-color: #e58800;
}
#inner-window.theme6 #arrow-bar {
    background-color: #e58800;
}

/* Theme 7 - purple */
#inner-window.theme7 #module-name {
    color: #85496f;
}
#inner-window.theme7 #chapter-list .chapter-item {
    background-color: #c3a3b6;
    margin-top: 9px;
}
    #inner-window.theme7 #chapter-list .chapter-item.selected {
        color: #85496f;
        background-color: white;
        margin-top: 10px;
    }
#inner-window.theme7 #section-list .section-item {
    background-color: #85496f;
}
#inner-window.theme7 #section-list .selected {
    border-color: #85496f;
    color: #85496f;
    background-color: white;
}
#inner-window.theme7 #page-dots #page-dot-content .dot:hover {
    color: #85496f;
}
#inner-window.theme7 #page-dots #page-dot-content .dot.selected {
    background-color: #85496f;
}
#inner-window.theme7 #arrow-bar {
    background-color: #85496f;
}

/* Theme 8 - red */
#inner-window.theme8 #module-name {
    color: #df5a49;
}
#inner-window.theme8 #chapter-list .chapter-item {
    background-color: #f2c58d;
    margin-top: 9px;
}
    #inner-window.theme8 #chapter-list .chapter-item.selected {
        color: #df5a49;
        background-color: white;
        margin-top: 10px;
    }
#inner-window.theme8 #section-list .section-item {
    background-color: #df5a49;
}
#inner-window.theme8 #section-list .selected {
    border-color: #df5a49;
    color: #df5a49;
    background-color: white;
}
#inner-window.theme8 #page-dots #page-dot-content .dot:hover {
    color: #df5a49;
}
#inner-window.theme8 #page-dots #page-dot-content .dot.selected {
    background-color: #df5a49;
}
#inner-window.theme8 #arrow-bar {
    background-color: #df5a49;
}

/* Theme 9 - blue2 */
#inner-window.theme9 #module-name {
    color: #4e69ac;
}
#inner-window.theme9 #chapter-list .chapter-item {
    background-color: #a6b4d6;
    margin-top: 9px;
}
    #inner-window.theme9 #chapter-list .chapter-item.selected {
        color: #4e69ac;
        background-color: white;
        margin-top: 10px;
    }
#inner-window.theme9 #section-list .section-item {
    background-color: #4e69ac;
}
#inner-window.theme9 #section-list .selected {
    border-color: #4e69ac;
    color: #4e69ac;
    background-color: white;
}
#inner-window.theme9 #page-dots #page-dot-content .dot:hover {
    color: #4e69ac;
}
#inner-window.theme9 #page-dots #page-dot-content .dot.selected {
    background-color: #4e69ac;
}
#inner-window.theme9 #arrow-bar {
    background-color: #4e69ac;
}









































#module-name {
    color: black;
    font-weight: bold;
    font-size: 26pt;
    display: table;
    padding-top: 8px;
    margin-left: 150px;
}

#chapter-list .chapter-item.selected {
    background-color: white;
    color: black;
    margin-top:10px;
}

#section-list .section-item {
    background-color: black;


    float: left;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px 15px;
    margin-right: 10px;
    cursor: pointer;
    text-transform: uppercase;
    border: 4px outset white;
    font-weight: bold;
    color: white;
}

#section-list .selected {
    border: 4px inset black;
    color: black;
    background-color: white;
}



#page-dots #page-dot-content .dot:hover {
    background-color: white;
    color: black;



    margin-top: -19px;
}

#page-dots #page-dot-content .dot.selected {
    background-color: black;
    color: white;
}

#arrow-bar {
    background: black;


    display: table;
    margin: 0 auto;
    height: 15px;
    width: 100%;
}

#chapter-list .chapter-item {
    background-color: gray;
    color: black;


    float: left;
    margin-top: 9px;
    padding: 11px 20px 9px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 10pt;
    font-weight: bold;
    text-transform: lowercase;
    border-radius: 10px 10px 0 0;
}










body {
    background-color: black;
    overflow:hidden;
}


div {
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    background-color: #505967;
    top: 0;
    left: 0;
    height: 135px;
}

#main-window {
    display: table;
    margin: 0 auto;
    border: 1px solid;
    position: relative;
    background-color: white;
    width: 1600px;
    height: 900px;
    transform-origin: top left;
}


#inner-window {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



#toc-book-title {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 16pt;
    text-decoration: underline;
}

#content {
    transition: margin-left .5s;
    width: 100%;
    height: 100%;
}


#toc {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    background-color: lightgray;
}

    #toc #menu-close {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        text-decoration: none;
    }

    #toc #pageList .nav-link {
        border-bottom: 1px solid black;
        position: relative;
        cursor: pointer;
        padding: 10px;
    }

        #toc #pageList .nav-link:hover {
            background-color: darkgray;
            color: white;
        }

        #toc #pageList .nav-link .text {
        }

        #toc #pageList .nav-link .plusMinus {
            position: absolute;
            right: 0;
            top: 5px;
            border-radius: 10px;
            background-color: darkgray;
            width: 10px;
            height: 10px;
            padding: 10px;
            font-weight: normal;
        }
        #toc #pageList .nav-link .plusMinus:hover{background-color:white;color:black}

        #toc #pageList .nav-link .activePlusMinus {background-color:white;color:black;}

        #toc #pageList .nav-link .pageCounter {
            position: absolute;
            right: 15px;
            top: 10px;
        }

    #toc #pageList .module {
        font-weight: bold;
        font-size: 14pt;
        border-left: 1px solid black;
    }

    #toc #pageList .section {
        font-style: italic;
        margin-left: 10px;
        border-left: 1px solid black;
    }

    #toc #pageList .chapter {
        margin-left: 20px;
        font-size: 10pt;
        border-left: 1px solid black;
    }
    #toc #pageList .activePage {
        background-color:gray;
        color:white;
    }

    #toc #pageList .page {
        float: left;
        border-bottom: none;
        border-right: 1px solid;
    }


#chapter-list{
    margin-left:100px;
}
#section-list{
    height: 45px;
    margin-left: 150px;
    float: left;
    width: 1275px;
}
    

    

#menu-open {
    float: left;
    margin-left: -1px;
    margin-top: 3px;
    border: 1px solid white;
    padding: 8px;
    background-color: blue;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#pageList {
    position: absolute;
    top: 50px;
    left: 20px;
    overflow-y: auto;
    width: 85%;
}

    #pageList .sub-links {
        display: none;
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
        overflow:auto;
    }
        #pageList .sub-links.pages {
            margin-left: 30px;
            border-left: 1px solid;
            border-bottom: 1px solid;
        }








#loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    display: none;
}

    #loading #loading-box {
        margin-left: 35%;
        margin-top: 15%;
        background: white;
        display: block;
        width: 280px;
        border-radius: 10px;
        border: 4px gray outset;
    }

        #loading #loading-box #loading-text {
            text-align: center;
            padding-bottom: 20px;
            font-style: italic;
        }





#header, #footer {
    width: 100%;
    position: absolute
}

#footer {
    bottom: 0;
    left: 0;
    background-color:white;
    height: 85px;
}



    #header #top-bar, #sections, #chapters {
        width: 100%;
        height: 45px;
    }

    #header #top-bar {
        background-color: white;
        color: black;
    }

    #header #sections {

    }

    #header #chapters {

    }



#previous-button, #next-button, #page-dots {
    height: 55px;
    float: left;
    margin-top:15px;
}

#next-button, #previous-button {
    cursor: pointer;
}
    #next-button, #previous-button:active{
        
    }
#previous-button {
    margin-left:20px;
}
#next-button {
   
}





#page-dots{width:1440px;padding:5px;}
#page-dot-content{
    display:table;margin:0 auto;border-right:1px solid black;
}
#page-dots #page-dot-content .dot {
    float: left;
    width: 30px;
    height: 25px;
    border: none;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    cursor:pointer;
    margin-top:-18px;
}

    #page-dots #page-dot-content .dot.selected:hover {
        margin-top: -18px;
    }
#page-dots #page-dot-content .dot.leftborder {border-left:1px solid black;}










    #arrow-bar #arrow-pointer{
        width:30px;
        margin-top:-1px;
        padding-left:1px;
}
#section-dots {
    display: table;
    margin: 0 auto;
    height: 15px;
    width: 100%;
}

.dot-sect{
    float:left;
    text-align:center;
    border-left:1px solid black;
    border-top:1px solid black;
}

#definitionWindow {
    display: none;
    max-width: 600px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ebebeb;
    border: 2px solid black;
    z-index: 99999;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgb(186, 186, 186) 10px 10px 5px 0;
}
















